<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
CSS rules to specify families

p {
    font-family: 'Roboto', sans-serif;
    
}
p{
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail{
    width: 440px;

}
.search{
    font-size: 20px;
    display: block;
   
}
.video-marques, .video-3.4m{
font-size: 12px;
color: rgb(96, 96, 96);

}
.video-marques{
    margin-bottom: 5px;
}

.channel-profil{
    display: inline-block;
    width: 50px;
    vertical-align: top;
   
}
.video-info{
display: inline-block;
width: 245px;px;

}
.profil-picture{
    width: 50px;
    border-radius: 50px;
    

}
.video-title{
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.video-gray{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 16px;
}
    

/*tests the color gray*/
.div1{
    background-color:lightblue;
}
.div2{
background-color: lightpink ;
}
.divgray{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 100px;
}