.thumbnail{
    width: 300px;
   

}
.search{
    font-size: 20px;
    display: block;
   
}
.video-title{
    width: 300px;
}
.video-marques, .video-3-4m{


}

.videa-preview{
     width: 300px;
     display: inline-block;
     vertical-align: top;
     margin-right: 15px;
}